* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", monospace;
  background: #e71314;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 70vh;
  gap: 32px;
}

.container-titulo {
  display: grid;
}

.titulo {
  font-size: 4rem;
  color: #fff;
  justify-self: center;
}

.grid-contador {
  align-self: start;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.contador {
  color: #fff;
  font-size: 3rem;
  box-shadow: 0 0 4px #fff;
  padding: 8px;
  display: grid;
  justify-items: center;
  border-radius: 4px;
}

.contador span {
  font-size: 0.8rem;
  text-transform: uppercase;
}

@media (max-width: 730px) {
  .titulo {
    font-size: 2.5rem;
    text-align: center;
  }

  .contador {
    font-size: 2.5rem;
  }
}

@media (max-width: 430px) {
  .titulo,
  .contador {
    font-size: 1.8rem;
  }
}
